:root{
    --background-color-1: #FF6F91;
    --background-color-1-border: #cc566f;
    --background-color-2: #FF9A8B;
    --background-color-2-border: #cc746a;
    --background-color-3: #6B5B95;
    --background-color-3-border: #563d7c;
    --background-color-4: #88B04B; 
    --background-color-4-border: #6a5f3c;
    --main-font: sans-serif;
    --font: "sans-serif";
}

body{
    margin: 0;
    font-family: var(--font);
    color: var(--background-color-4);
    -webkit-text-stroke: 0.5px var(--background-color-4-border);
    scroll-behavior: smooth;
    background-color: var(--background-color-3);
}

#footer:hover{
    opacity: 0;
}
.red{
    color: red;
}
#adminToggleBtn{
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 100px;
    background: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.5px white;
    color: red;
    font-size: 20px;
}
#adminToggleBtn:hover{
    background: lightblue;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1111;
}
.test-modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1111;
}
hr.question-hr{
    border: 1px black solid;
}
.test1-input{
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid var(--background-color-4-border);
    border-radius: 15px;
    width: 300px;
}
#test1-modal{
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}
#test1-modal-content{
    background: var(--background-color-1);
    border: 5px outset yellow;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    width: 900px;
    font-weight: bold;
    color: var(--background-color-4);
    -webkit-text-stroke: 1px black; 
    max-height: 800px;
    overflow-x: auto;
    position: fixed;
}
.test-submit-btn{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    -webkit-text-stroke: 0.5px black;
    border-radius: 25px;
    transition: 0.25s ease 0ms;
}
.test-submit-btn:hover{
    background-color: #0f0 ;
    transform: scale(1.1);
}
.test1-closebtn{
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: darkred;
}
.test1-closebtn:hover{
    background: #f00;
}
#test1-modal-content input[type = "radio"]{
    transform: scale(3);
    margin: 20px;
    accent-color: var(--background-color-3-border);
}
#test1-modal-content label{
    display: block;
}
#test1-modal-content label:hover{
    background-color: lightblue;
    cursor: pointer;
}
#test1-questions-container{
    margin-right: 20px;

}
.modal-content {
  background: radial-gradient(white,lightblue 5%,blue);
  color: greenyellow;
  border: 5px solid white;
  padding: 20px;
  border-radius: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  max-width: 900px;
  font-weight: bold;
}

.adminModalBtn{
    border: none;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: impact;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}
.adminModalBtn:hover{
    background: #a00;
}

.adminModalInput{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
#sign-out{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: radial-gradient(white, var(--background-color-1) , var(--background-color-2-border));
    border: var(--background-color-3-border) 5px solid;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--background-color-4);
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
#sign-out:hover{
    background: lightblue;
}


#profile{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;
    font-family: sans-serif;
    -webkit-text-stroke: 1px black;
    background-color: var(--background-color-3);
 border: 2px solid var(--background-color-3-border);
}
#uid-container{
 height: 45%;
}
#uid-container:hover{
    background-color: white;
    cursor: help;
}
#lvl-container{
    height: 45%;
    border-top: 1px solid white;
}
#lvl-container:hover{
    background-color: white;
    cursor: help;
}
.red-white-border{
    -webkit-text-stroke: 1px white;
    color: red;
}


#main-container{
   display: none;
}
img{
    border: 10px outset yellow;
    box-shadow: 0 0 20px 5px yellow;
    position: absolute;
    left: 10px;
    transition: 0.3s ease 0ms;
}
.small-img{
    width: 150px;
    height: 100px;
}
.medium-img{
    width: 400px;
    height: 300px;
}
.large-img{
    width: 650px;
    height: 500px;
}
.xlarge-img{
    width: 1000px;
    height: 800px;
}
img:hover{
    opacity:0.1;
}

hr{
    border: 10px var(--background-color-1) outset;
    box-shadow: 0 0 20px 10px var(--background-color-1-border);
}
#header{
    position: fixed;
    background-color: var(--background-color-1);
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 50px;
    border: solid 2px var(--background-color-1-border);
    
}
#auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    background: linear-gradient(var(--background-color-2), var(--background-color-3));
    color: var(--background-color-3);
    -webkit-text-stroke: var(--background-color-3-border) 2px;
    font-family: sans-serif;
}
#auth-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--background-color-2-border);
    padding: 20px;
    text-align: center;
    background-color: var(--background-color-2);
    box-shadow: 0 0 20px 5px var(--background-color-2-border);
}
.auth-inputs{
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid var(--background-color-4-border);
    border-radius: 15px;
    -webkit-text-stroke:none;
}
.auth-btns{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    -webkit-text-stroke: 0.5px black;
    border-radius: 25px;
    color: var(--background-color-1);
}
.auth-btns:hover{
    background-color: lightblue;
}
.auth-btns:active{
    transform: scale(0.95);
}
button:hover{
    cursor: pointer;
}
#side_bar{
    position: fixed;
    z-index: 999;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: var(--background-color-2);
    border: solid 2px var(--background-color-2-border);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}
#test1-btn{
    width: 230px;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    border-radius: 15px;
    margin-right: 20px;
    transition: 0.25s ease 0ms;
}
#test1-btn:hover{
    background-color: #0f0;
    transform: scale(1.2);   
}
#test1-btn:active{
    background-color: #0a0;
}
.chapters{
    border: var(--background-color-4) 5px outset;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    word-wrap: break-word;
}
.levels{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: var(--background-color-3) 5px outset;
    -webkit-text-stroke: 1px black;
}
.chapter_containers{
    text-align: center;
}
.chapter-headers{
    text-align: center;
    -webkit-text-stroke: 2px black;
}

.levels:hover{
    background-color: lightblue;
}
.chapters:hover{
    background-color: lightgreen;
}
span.important{
    color: red;
    font-size: 45px;
    -webkit-text-stroke:1px white;
    font-weight: bold;
}
.large-font{
    font-size: 50px !important;
}
.bold{
    font-weight: 600;
}
.question-machine-1{
    border: 5px solid var(--background-color-1-border);
    padding: 10px;
    background-color: var(--background-color-1);
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--background-color-4-border);
    margin: 20px;
    width: 400px;
}
.check-btn-1{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    -webkit-text-stroke: 0.5px black;
    
}
.check-btn-1:hover{
    background-color: lightgreen;
}
.check-btn-1:active{
    transform: scale(0.95);
}
.user-input-1{
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid var(--background-color-4-border);
    width: 200px;
}
#question-machine-2-number-1{
    font-size: 40px;
    font-weight: bold;
    margin: 200px 0 2px 0;
    background-color: var(--background-color-3);
    border: 2px solid var(--background-color-3-border);
    padding: 10px;
}
#question-machine-2-number-2{
    font-size: 40px;
    font-weight: bold;
    background-color: var(--background-color-3);
    border: 2px solid var(--background-color-3-border);
    padding: 10px;
}
.compare-symbol{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    -webkit-text-stroke: 0.5px black;
}
.compare-symbol:hover{
    background-color: lightblue;
}
.compare-symbol:active{
    transform: scale(0.95);
}
.question-machine-4-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid var(--background-color-4-border);
    background-color: var(--background-color-4);
    -webkit-text-stroke: 0.5px black;
    border-radius: 25px;
    transition: 0.25s ease 0ms;
}
.question-machine-4-btn:hover{
    background-color: #0f0 ;
    transform: scale(1.1);
}
#main{
    position: absolute;
    top: 70px;
    left: 250px;
    right: 0;
    padding: 10px;
    font-size: 40px;
    background-color: var(--background-color-3);
    font-family: var(--main-font);
    text-align: right;
}

@media(max-width:1300px){
    .large-img{
        width: 500px;
        height: 350px;
    }

}